.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}

.header {
  background-color: #e6e9ee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.nav-item{
  list-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 2.5rem;
}

.search-input {
  height: 1.5rem;
}
.search {
  height: 1.5rem;
}

.cart-widget-container {
  display: flex;
  align-items: center;
  margin-left: 2em;
  height: 5vh;

}

.cart-widget-container p {
  margin-left: .5em;
}

.greeting-container {
  text-align: center;
}

.greeting {
  font-size: 10vh;
}

.item-counter {
  margin-left: 2rem;
  text-align: center;
  width: 20%;
  background-color: bisque;
  padding: 1.5rem;
}

.counter-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  margin-bottom: 1.5rem;
}

.add-to-cart-btn {
  width: 100%;
  font-size: 1.5rem;
}

.item-list-container {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.item-container {
width: 25%;
}

.product-detail-body {
  width: 90%;
  display: flex;
}

.product-info {
  flex: 1;
}

.product-image {
  height: 300;
}

.product-payment-details {
  flex: 1;
}